* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #2d2013;
}
.container {
    width: 90%;
    margin: 0 auto;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

header {
    background-color: #23180d;
    color: white;
height: 85px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.nav-info .home {
    background-color: #c52d2f;
    border: none;
    color: white;
    padding: 7px 10px;
    border-radius: 7px;
}

.nav-info input {
    padding: 7px 10px;
    border-radius: 4px;
}
.card{
    width: 24%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
    
}
.card img{
    width: 100%;
}
.card a{
    color:  #d57d1f;
    text-decoration: none;
}
.card a:hover{
    color:  yellow;
}
.api{
    background-color: #23180d;
    border: none;
    color: white;
    padding: 7px 10px;
    border-radius: 7px;
}
.api:hover{
    background-color:  #c52d2f;
}
#root{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
h3{
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.tit{
    text-align: center;
}
h1{
    font-size: 36px;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 10px;
}
.tit p{
    color: #fff;
}
.tit button{
    background-color: #ffc439;
    border: none;
    padding: 7px 10px;
    border-radius: 4px;
    width: 150px;
    height: 30px;
    padding-left: 30px;
}
.tit img{
    background-color: #ffc439;
    width: 75px;
    height: 15px;
}
.title-img{
    height: 200px;
    width: 200px;

}
.letters{
    display: flex;
    justify-content: center;
}
.letters a{
    color: #d57d1f;
    font-size: 20px;
    text-decoration: none;
    padding-right: 4px;
    margin-bottom: 70px;
}
.letters p{
    color: #fff;
    font-size: 20px;
    padding-right: 4px;
}
#no{
    display: none;
}
a{
    color: #d57d1f;
    text-decoration: none;
    padding-right: 4px;
}
a:hover{
    color: #ffc439;
}
.end{
    display: flex;
    justify-content: center;
    background-color: #23180d;
    margin: auto;
    gap: 200px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    height: 164px;
    align-items: center;
}
.end p{
    color: #ffffff;
}
.box3{
    display: flex;
    gap: 15px;
}
.box2 p{
    margin-bottom: 30px;
}
.box3 p:hover{
    color: rgb(166, 0, 0);
}
.payPal{
    margin-top: 5px;
    margin-bottom: 8px;
}

.detail-cart{
    display: flex;
    justify-content: space-between;
    gap: 90px;
    color: #fff;
}
.trumb{
width: 500px;
}

.ingrUl{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    color: #d57d1f;
}
.ingrUl li:hover{
    color: #ffc439;
}
.ingrUl img{
    width: 200px;
}
.detail-cart h2{
    text-align: left;
    margin-bottom: 30px;
}

.instru{
    color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
}